
.bg-ocean-blue {
    background: linear-gradient(225.22deg, #2e3192  -.01%, #1bffff 100.08%)
}
.bg-sanguine {
    background: linear-gradient(225.22deg, #D4145A  -.01%, #FBB03B 100.08%)
}
.bg-luscious-lime {
    background: linear-gradient(225.22deg, #009245  -.01%, #FCEE21 100.08%)
}
.bg-purple-lake {
    background: linear-gradient(225.22deg, #662D8C  -.01%, #ED1E79 100.08%)
}
.bg-piglet {
    background: linear-gradient(225.22deg, #EE9CA7  -.01%, #FFDDE1 100.08%)
}
.bg-kashmir {
    background: linear-gradient(225.22deg, #614385   -.01%, #516395 100.08%)
}
.bg-green-beach {
    background: linear-gradient(225.22deg, #02AABD   -.01%, #00CDAC 100.08%)
}
.bg-bloody-mary {
    background: linear-gradient(225.22deg, #FF512F   -.01%, #DD2476 100.08%)
}
.bg-sweet-morning {
    background: linear-gradient(225.22deg, #FF5F6D   -.01%, #FFC371 100.08%)
}
.bg-quepal {
    background: linear-gradient(225.22deg, #11998E   -.01%, #38EF7D 100.08%)
}
.bg-cactus {
    background: linear-gradient(225.22deg, #C6EA8D   -.01%, #FE90AF 100.08%)
}
.bg-yosemite {
    background: linear-gradient(225.22deg, #EA8D8D   -.01%, #A890FE 100.08%)
}
.bg-antarctica {
    background: linear-gradient(225.22deg, #D8B5FF   -.01%, #1EAE98 100.08%)
}
.bg-exotic {
    background: linear-gradient(225.22deg, #FF61D2   -.01%, #FE9090 100.08%)
}
.bg-toxic {
    background: linear-gradient(225.22deg, #BFF098   -.01%, #6FD6FF 100.08%)
}
.bg-orbit {
    background: linear-gradient(225.22deg, #4E65FF   -.01%, #92EFFD 100.08%)
}
.bg-no-mans {
    background: linear-gradient(225.22deg, #A9F1DF   -.01%, #FFBBBB 100.08%)
}
.bg-celestial {
    background: linear-gradient(225.22deg, #C33764   -.01%, #1D2671 100.08%)
}
.bg-clean-mirror {
    background: linear-gradient(225.22deg, #93A5CF   -.01%, #E4EfE9 100.08%)
}
.bg-mountain-rock {
    background: linear-gradient(225.22deg, #868F96   -.01%, #596164 100.08%)
}
.bg-eternal-constance {
    background: linear-gradient(225.22deg, #09203F   -.01%, #537895 100.08%)
}
.bg-juicy-peach {
    background: linear-gradient(225.22deg, #FFECD2   -.01%, #FCB69F 100.08%)
}
.bg-winter-neva {
    background: linear-gradient(225.22deg, #A1C4FD   -.01%, #C2E9FB 100.08%)
}
.bg-plum-plate {
    background: linear-gradient(225.22deg, #764BA2   -.01%, #667EEA 100.08%)
}
.bg-everlasting-sky {
    background: linear-gradient(225.22deg, #FDFCFB   -.01%, #E2D1C3 100.08%)
}
